header {
    background-color: #bbbb;
    font-family: 'Roboto Slab', serif;
    font-size: 700;
    padding: 20px 0; 
}

.contenedor {
    margin: 0 auto;
    position: relative;
    width: 940px;
}

nav {
    position: absolute;
    right: 0;
    top: 110px;
}

nav li {
    display: inline;
    margin-left: 15px;
}

nav a {
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    color: #c78c19;
    text-decoration: underline;
}

.productos {
    margin: 0 auto;
    padding: 50px;
    width: 900px;
}

.productos li {
    border: black 2px solid;
    border-radius: 10px;
    box-sizing: border-box; /*el borde de cada uno de los items será el límite del espacio que es definido*/
    display: inline-block;
    margin: 0 1.5%;
    padding: 30px 15px;
    text-align: center;
    vertical-align: top;
    width: 30%;
}

.productos li:hover {
    border-color: #c78c19;
    
}

.productos li:active {
    border-color: #088c19;
}

.productos h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    font-weight: 500;
}

.productos li:hover h2 {
    font-size: 33px;
}

.producto-descripcion {
    font-family: 'Chivo Mono', monospace;
    font-size: 18px;
}

.producto-precio {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
}

footer {
    background: url(/img/bg.jpg);
    color: lightgray;
    font-family: 'Roboto Slab', serif;
    font-size: 10px;
    margin: 20px;
    padding: 40px;
    text-align: center;
}

main {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
}

form label, form legend {
    display: block;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    margin-bottom: 10px;
}

.input-padron {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}

.enviar {
    background: rgb(255, 191, 0);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    font-weight: 500;
    padding: 15px 0;
    transition: 1s all;
    width: 40%;
}

.enviar:hover {
    background: rgb(255, 112, 0);
    transform: scale(1.2);
}

table {
    margin: 40px 40px;
}

thead {
    background: rgb(101, 100, 124);
    color: white;
    font-family: 'Roboto Slab', serif;
    font-size: 500;
}

td, th {
    border: black 1px solid;
    padding: 8px 15px;
}

/* CSS para pagina principal*/
.banner {
    width: 100%;
}

.titulo-principal {
    font-family: 'Roboto Slab', serif;
    font-size: 2em;
    margin: 0 0 1em;
    text-align: center;
}

.principal p {

}