header {
    background-color: #bbbb;
    font-family: 'Roboto Slab', serif;
    font-size: 700;
    padding: 20px 0; 
}

.contenedor {
    margin: 0 auto;
    position: relative;
    width: 940px;
}

nav {
    position: absolute;
    right: 0;
    top: 110px;
}

nav li {
    display: inline;
    margin-left: 15px;
}

nav a {
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    color: #c78c19;
    text-decoration: underline;
}

.productos {
    margin: 0 auto;
    padding: 50px;
    width: 900px;
}

.productos li {
    border: black 2px solid;
    border-radius: 10px;
    box-sizing: border-box; /*el borde de cada uno de los items será el límite del espacio que es definido*/
    display: inline-block;
    margin: 0 1.5%;
    padding: 30px 15px;
    text-align: center;
    vertical-align: top;
    width: 30%;
}

.productos li:hover {
    border-color: #c78c19;
    
}

.productos li:active {
    border-color: #088c19;
}

.productos h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    font-weight: 500;
}

.productos li:hover h2 {
    font-size: 33px;
}

.producto-descripcion {
    font-family: 'Chivo Mono', monospace;
    font-size: 18px;
}

.producto-precio {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
}